.runTestBtn {
  padding: 10px 17px;
  margin: 0px 13px;
  background-color: #a03cbb;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
}
.dashboardContainer {
  margin-left: 20px;
}
.testCaseName {
  color: #896d6d;
}
.moduleHead {
  color: #352f2f;
}
.testCaseTable {
  height: 48vh;
  overflow-y: scroll;
  padding-bottom: 3px;
  padding-left: 10px;
  border-radius: 10px;
}
.testCaseCard {
  background-color: #ffffff;
  padding: 16px;
  margin: 10px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
}
.filterContainer {
  margin-bottom: 20px;
}
/* ----------------------------------------- */

.filterBar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #e3dcdc;
}

.statusDropdown {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #e3dcdc;
  color: #352f2f;
}

.resetBtn {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e3dcdc;
  color: #352f2f;
}

.droppableArea {
  min-height: 100px;
  padding: 10px;
  border-radius: 4px;
}

.allTestCasesBtn {
  width: 150px;
  height: 40px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #ed5443;
  /* margin-left: 90px; */
}

.loginBtn{
  background-color: #3be69f;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius:6px ;
  cursor: pointer;
}
.loginBtn:hover{
  background-color: #2f9b7e;
}

.chartsGrid {
  display: flex;
}